{
    "bracketSpacing": false,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 160,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "proseWrap": "preserve",
    "arrowParens": "avoid",
    "semi": true
}
