@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import 'variables.css';
@import 'reset.css';

body:has(dialog[open]) {
    overflow: hidden;
}

dialog[open] {
    animation: modal-open 0.4s forwards;
}

input {
    border: 1px solid var(--color-border-color);
    border-radius: 6px;
    padding: 4px;
}

input.invalid {
    background-color: var(--color-negative-status);
}

.hidden {
    opacity: 0;
}

@keyframes opacity-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-open {
    0% {
        top: -250px;
        opacity: 0;
    }
    100% {
        top: 28px;
        opacity: 1;
    }
}
